* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background-color: khaki;

}
main > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
main > h1 {
    text-align: center;
}