*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    >header {
        display: flex;
        flex-direction: row;
        row-gap: 40vw;
        border: 5px solid black;
        height: 15vh;
        line-height: 14vh;
        background-image: radial-gradient(lightblue, blue , white );
        >h1 {
            text-align: center;
            font-family:'Courier New', Courier, monospace;
            width: 100vw;
            margin-left:6vh;
        }
        #settings {
            display:block;
            margin-top: 5vh;
            margin-bottom: 5vh;
            height: 5vh;
            margin-right: 5vh;
            width: 5vw;
            background: url('projekt./png/to.png') top left no-repeat;
            border:none;
        }
    }
    >nav {
        >ul {
            display: flex;
            flex-direction: row;
            height: 5vh;
            line-height: 5vh;
            background-color: #004;
            >li {
                width: 20vw;
                list-style-type: none;
                text-align: center;
                >a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
//     main {

//     }
}